body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}

#mainframe {
    display: flex;
    justify-content: space-between;
    justify-items: space-around;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.scoreNum {
    font-size: 40px;
}

#actionMsg {
    height: 20px;
}

.againPrompt {
    height: 200px;
    width: 600px;
    font-size: 90px;
    position: absolute;
    top: 19%;
    left: 19%;
}